<#@ template language="C#" debug="True" hostSpecific="True"                  #>
<#@ output extension=".generated.cs"                                         #>
<#@ include file="..\Shared.ttinclude"                                       #>
<#@ include file="..\..\..\Source\LinqToDB.Templates\LinqToDB.DB2iSeries.ttinclude" #>
<#
	NamespaceName = "DB2iseriesDataContext";
	DataContextName = "TESTDATADB";

	GenerateDataTypes = true;
	GenerateDbTypes   = true;

	//GetSchemaOptions.ExcludedSchemas = new[] { "TestUser", "SYSSTAT" };

	LoadDB2iSeriesMetadata(GetConnectionString("DB2iSeries"));

	//GetProcedure("ADMINISTRATOR.PERSON_SELECTBYKEY").ResultTable = GetTable("ADMINISTRATOR.Person");

	//GetColumn("ADMINISTRATOR.Person", "PersonID").MemberName = "122";
	//GetFK    ("ADMINISTRATOR.Person", "ID1").MemberName = "122";

	GenerateModel();
#>
